/* You can add global styles to this file, and also import other style files */
@import './scss/theam';
@import './scss/mat.hleper';
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
