
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    font-family: 'Ubuntu';
}

p{
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
}

.successfully {
    color: green;
  }
  
  .danger {
    color: red;
  }